@charset 'utf-8';

@font-face {
	font-family: Fruit Days;
	src: url('../data/Fruit_Days.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MaplestoryOTFBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* @import url('https://fonts.cdnfonts.com/css/fruit-days'); */
html, body{ width: 100%; height: 100%; }
body, div, p{ margin: 0; padding: 0; }
body{
	display: flex; justify-content: center; align-items: center;
}
.bg{
	width: 900px; height: 700px;
	border-radius: 100px;
	background: url('../img/bg_frame.jpg');
	position: relative;
}

/* index.html */
@keyframes hoverAni{
	0%{ transform: rotate(0deg); }
	20%{ transform: rotate(-20deg); }
	40%{ transform: rotate(20deg); }
	60%{ transform: rotate(-10deg); }
	80%{ transform: rotate(10deg); }
	100%{ transform: rotate(0deg); }
}
.wrapper{
	width: 800px; height: 600px;
	padding: 30px; box-sizing: border-box;
	position: absolute; left: 50%; top: 50%; z-index: 1;
	transform: translate(-50%, -50%);
	background: #fff;
}
.title_wrap{
	position: absolute; left: 0; top: 50px; z-index: 10;
}
.bg_img_wrap{
	width: 200px; height: auto;
	position: absolute;
}
.bg_img_wrap>img{
	width: 100%; height: auto;
	position: absolute;
}
.wrap1{ left: 0; bottom: 0; }
.wrap1>img{ bottom: 0; }
.wrap2{ right: 0; top: 0; }
.wrap2>img{
	top: -20px;
	transform-origin: right bottom;
	transform: scaleX(-1) rotate(90deg);
}
.btn_wrap{
	width: 100%;
	position: absolute; left: 0; bottom: 15%;
	display: flex; justify-content: center; gap: 100px;
}
.btn_wrap>div{ position: relative; cursor: pointer; }
.btn_wrap>div>span{
	width: 100%;
	position: absolute; left: 2%; top: 50%;
	transform: translateY(-40%);
	text-align: center;
	font-family: 'Fruit Days', sans-serif;
	font-size: 26px; color: #fff;
}
.btn_wrap>.play_btn>span{ font-size: 38px; }
.play_btn, .howtoplay_btn{
	transform: rotate(0deg);
}
.play_btn:hover, .howtoplay_btn:hover{
	animation: hoverAni .4s ease-out 0s 1 alternate both;
}
.howtoplay{
	width: 800px; height: 600px;
	padding: 30px; box-sizing: border-box;
	position: absolute; left: 50%; top: 50%; z-index: 2;
	transform: translate(-50%, -50%);
	background: #fff;
	visibility: hidden; opacity: 0; transition: opacity .4s;
}
.howtoplay.active{ visibility: visible; opacity: 1; }

/* play.html */
.overlay{
	width: 800px; height: 600px;
	padding: 30px; box-sizing: border-box;
	position: absolute; left: 50%; top: 50%; z-index: 1;
	transform: translate(-50%, -50%);
	background: url('../img/bg_play.gif');
	display: flex; justify-content: space-between;
}
.reset{
	display: block;
	width: 80px; height: 25px;
	position: absolute; right: 120px; bottom: 10px;
	background-image: linear-gradient(to right, #80d4ff, #3cbafa, #667eea, #764ba2);
	background-size: 300% 100%;
	box-shadow: 0 4px 15px 0 rgba(104, 202, 252, 0.75);
	text-align: center; line-height: 25px;
	font-family: 'Fruit Days', sans-serif;
	font-size: 18px; color: #fff;
	cursor: pointer;
	transition: all .4s ease-in-out;
}
.reset:hover{
	background-position: 100% 0;
	transition: all .4s ease-in-out;
}
.peaches{
	width: 95%; height: 100%;
	display: flex; flex-flow: row wrap;
}
.img_wrap{ position: relative; }
.img_wrap>p{
	width: 100%; height: 100%;
	position: absolute; left: 0; top: 0; z-index: 1;
	background: url('../img/peach0.png') no-repeat center center;
	background-size: contain;
}
.img_wrap>span{
	position: absolute; left: 50%; top: 50%; z-index: 10;
	transform: translate(-30%, -45%);
	font-weight: bold; color: #fff;
	font-family: 'MaplestoryOTFBold', sans-serif;
}
.result{
	width: 18px; height: 100%;
	display: flex; flex-flow: column wrap; justify-content: space-between; align-items: center;
}
.result>.score{
	font-family: 'MaplestoryOTFBold', sans-serif;
	font-size: 20px; color: #555;
	margin-top: 10px;
}
.result>.timer{
	width: 16px; height: 85%;
	border: 1px solid #f7bed1; background: #fff;
	position: relative;
	margin-bottom: 10px;
}
.result>.timer>.curr{
	display: block;
	width: 100%; height: 100%;
	background: #f7bed1;
	position: absolute; left: 0; bottom: 0;
	transition: height 1s linear;
}
canvas{
	position: absolute; left: 50%; top: 50%; z-index: 10;
	transform: translate(-50%, -50%);
}
.blur{
	width: 800px; height: 600px;
	padding: 30px; box-sizing: border-box;
	position: absolute; left: 50%; top: 50%; z-index: 1;
	transform: translate(-50%, -50%);
	backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
	visibility: hidden; opacity: 0; transition: opacity .2s;
	display: flex; flex-flow: column wrap; justify-content: center; align-items: center;
}
.score_wrap{
	position: relative;
	margin-bottom: 80px;
}
.score_num_wrap{
	position: absolute; left: 50%; top: 50%; z-index: 15;
	transform: translate(-45%, -40%);
	text-align: center;
	font-family: 'MaplestoryOTFBold', sans-serif;
	font-size: 30px; color: #fff;
}
.final_score_num{ font-size: 50px; }
.best_score{ text-align: center; }
.blur.active{ visibility: visible; opacity: 1; }